<div class="container mt-5">
    <div class="row">
        <div class="col-4 offset-lg-4">
            <form #pasajeForm="ngForm">
                <div class="form-group">
                  <label for="exampleInputDocumento"><strong>DNI Pasajero:</strong></label>
                  <input [(ngModel)]="pasaje.dniPasajero" name="pasaje.dniPasajero" required #dniPasajero="ngModel" type="text" class="form-control" id="exampleInputDocumento" placeholder="Ingrese el dni del pasajero.">                  
                </div>
                <div class="form-group">
                  <label for="exampleInputCategoria"><strong>Categoria del pasajero:</strong></label>
                  <input [(ngModel)]="pasaje.categoriaPasajero" name="pasaje.categoriaPasajero" required #categoriaPasajero="ngModel" type="text" class="form-control" id="exampleInputCategoria" placeholder="Ingrese la categoria del pasajero.">
                </div>
                <div class="form-group">
                   <label for="exampleInputFecha"><strong>Fecha de compra:</strong></label>
                   <input [(ngModel)]="pasaje.fechaCompra" name="pasaje.fechaCompra" required #fechaCompra="ngModel" type="date" class="form-control" id="exampleInputFecha" placeholder="Ingrese la fecha de compra.">
                </div>
                <div class="form-group">
                   <label for="exampleInputPrecio"><strong>Precio del pasaje:</strong></label>
                   <input [(ngModel)]="pasaje.precioPasaje" name="pasaje.precioPasaje" required #precioPasaje="ngModel" type="number" class="form-control" id="exampleInputPrecio" placeholder="Ingrese el precio del pasaje.">
                </div>
                <br>
                <button (click)="agregarPasaje(pasajeForm)" *ngIf="editar == 'false'" [disabled]="pasajeForm.invalid" type="submit" class="btn btn-primary float-start">AÑADIR</button>
                <button (click)="actualizarPasaje(pasajeForm)" *ngIf="editar == 'true'" [disabled]="pasajeForm.invalid" type="button" class="btn btn-primary float-start">MODIFICAR</button>
                <button (click)="reset(pasajeForm)" type="button" class="btn btn-primary float-end">CANCELAR</button>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">DNI Pasajero</th>
                    <th scope="col">Categoria Pasajero</th>
                    <th scope="col">Fecha de Compra</th>
                    <th scope="col">Precio de Pasaje</th>
                    <th scope="col">Accion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of pasajes">
                    <td>{{item.id}}</td>                    
                    <td>{{item.dniPasajero}}</td>                    
                    <td>{{item.categoriaPasajero}}</td>                    
                    <td>{{item.fechaCompra | date: 'dd/MM/yyyy'}}</td>                    
                    <td>{{item.precioPasaje | currency: 'USD'}}</td>
                    <td>
                        <button (click)="select(item)" type="button" class="btn btn-warning btn-sm float-start">Editar</button>
                        <button (click)="eliminarPasaje(item)" type="button" class="btn btn-warning btn-sm float-end">Eliminar</button>
                    </td>                   
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>